
$black: #202428;
$content-background-color: #e8e8e8;

@import "generics/all";
@import "components/all";

body {
  background-color: $content-background-color;
  position: relative;
}

.all-content {
  background-color: $content-background-color;
}
.title {
  margin-top: 0;
}

.background-white {
  background-color: $jumbotron-background-color;
}