$navigation-background-color: $black !default;
$navigation-text-color: $wrapper-background-color !default;

// columns / total columns
$sidebar-width: 6 / 12 * 100%;
$sidebar-adjacent-side: left;

.sidebar {
  color: $navigation-text-color;
  border-#{$sidebar-adjacent-side}: 1px solid darken($navigation-background-color, 5%);
  min-height: 100%;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  #{$sidebar-adjacent-side}: 100%;
  
  li a {
    display: block;
  }
  
  .sidebar-item:hover {
    background-color: darken($navigation-background-color, 10%);
    cursor: pointer;
  }
  
  .active {
    @extend .sidebar-item:hover;
  }
}

.all-content {
  position: relative;
  #{$sidebar-adjacent-side}: 0%;
  
  &.sidebar-reveal {

    @media screen and (max-width: $tablet-size) {
      position: relative;
      #{$sidebar-adjacent-side}: -$sidebar-width;

      & ~ .sidebar {
        #{$sidebar-adjacent-side}: 100% - $sidebar-width;
      }
    }
  }
}

body {
  overflow-x: hidden;
}